%footer
  .column1
    %h4= t('.about')
    %p= t('.abouttext')
  .column2
    %h4= t('.database')
    %a{href: "https://igdb.com"}
      %p= t('.databasetext')
  .column3
    %h4= t('.github')
    %p= t('.githubtext')