%footer
  .column1
    %h4= t('.about')
    %p= t('.abouttext')
  .column2
    %h4= t('.github')
    %a{href: "https://github.com/AdivAsif/GamesWebsite"}
      = t('.githubtext')
  %button{:onclick => "scrollTopFunction()"}
    %span.glyphicon.glyphicon-triangle-top
    = t('.scrolltop')