#container
  %h1 Listing games

  %table
    %thead
      %tr
        %th Name
        %th Cover
        %th Rating
        %th Summary
        %th Genre
        %th
        %th
        %th

    %tbody
      - @games.each do |game|
        %tr
          %td= link_to game.name, game
          %td
            %img{:height => "60%", :width => "60%", src: "/assets/#{game.cover}"}
          %td= game.rating
          %td= game.summary
          %td= game.genre
  %br

  = link_to 'Back', root_path
